{% extends 'base.html' %}

{% block content %}
<style>
  .container {
  max-width: 960px;
}
.new{
  margin-top:-7%;
}
.custom{
  margin-left:10px !important;

}
form{
  margin-top:-25px;
  margin-right:-25px;
}
.strong{
  color: black !important;
}
textarea{
  height:20vh !important;
}
label{
  margin:10px;
}

</style>

<div class="container new">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h2>Contact Form</h2>
    <h5>If you wish to participate at any exhibition match you are welcome to sign yourself up and we will get in touch with you!
<strong class="strong"> Input the required details and the city at which you would like to train or play an exhibition match</strong> </h5>
  </div>

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your opportunities</span>
        <span class="badge badge-secondary badge-pill"></span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Exhibition Matches</h6>
            <small class="text-muted">National Participation</small>
          </div>
          <span class="text-muted">#PROUD</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Free Training</h6>
            <small class="text-muted">@BBFS Nationally</small>
          </div>
          <span class="text-muted">#BLEEDBLUE</span>
        </li>
        <li class="list-group-item d-flex justify-content-between bg-light">
          <div class="text-success">
            <h6 class="my-0">CONTACT TODAY</h6>
            <small>REGISTER FOR MORE</small>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-8 order-md-1">
    <form method="post" action = "{% url 'contact' %}">
      {% csrf_token %}
        <div class="col-md-6 mb-3">
          <label for="inputUserame">Userame</label>
          <input type="text" id="inputUserame" class="form-control" placeholder="Your Name" name="username" required autofocus>
            <label for="inputUserame">Email</label>
          <input type="email" id="inputUserame" class="form-control" placeholder="Username" name="email" required autofocus>

          <label for="preferredCity">Preferred City</label>
          <input type="text" class="form-control" name="city" value="" placeholder="Eg: Jaipur">
          <label for="inputUserame">Football Experience</label>
          <textarea class="form-control" name="experience" rows="8" cols="80"></textarea>
          <input clas type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1">I confirm that I identify as trans*</label>
      <div class="form-actions">
        <input type="checkbox" class="custom-control-input" id="same-address">
        <button type="submit" class="btn btn-primary">Send</button>
      </div>
      </div>

    </form>
    </div>
  </div>
</div>
{% endblock %}
